<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyh.springboot.mapper.EmployeeMapper">

    <select id="selectAll" resultType="com.lyh.springboot.entity.Employee">
        select employee.*, department.name as departmentName from employee
        left join department on employee.department_id = department.id
        <where>
            <if test = "name != null">
                employee.name like concat('%',#{name},'%')
            </if>
        </where>
        order by employee.id desc
    </select>
    <insert id="insert" parameterType="com.lyh.springboot.entity.Employee">
        insert into `employee` (username,password,role,name,sex,no,age,description,department_id,avatar)
        values (#{username},#{password},#{role},#{name},#{sex},#{no},#{age},#{description},#{departmentId},#{avatar})
    </insert>
    <update id="updateById" parameterType="com.lyh.springboot.entity.Employee">
        update `employee` set username = #{username}, password = #{password}, role = #{role}, name = #{name}, sex = #{sex}, no=#{no}, age=#{age}, avatar = #{avatar},
        description=#{description}, department_id=#{departmentId}
        where id = #{id}
    </update>

</mapper>